@page "/"
@using System.Security.Principal
@using Microsoft.AspNetCore.Authorization
@using TestTaskWindowsAuth.Client.Services
@using System.Security.Authentication
@inject NavigationManager NavigationManager

@attribute [AllowAnonymous]

<h1>Windows authentication app</h1>
<article>
    This app presents a windows authentication. To check your windows claims navigate to <a href="@NavigationManager.BaseUri/profile">@(NavigationManager.BaseUri)profile</a>
</article>
@code {

}
